{% extends 'products/base.html' %}

{% load staticfiles %}


{% block css %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock css %}


{% block content %}
<!-- Page Content -->
                        <div class="" >
                            {%  if messages %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert"
                                    style="text-align: center;">
                                    {% for message in messages %}
                                        {{ message }}
                                    {% endfor %}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                       </div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">Store</h1>
                <p>
                    Новые образы и лучшие бренды Store.
                    Бесплатная доставка по всему миру! Аутлет: до -70% Собственный бренд. -20% новым покупателям.
                </p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href="{% url 'products:index' %}">
                        Начать покупки
                    </a>
                </button>
            </div>

        </div>
    </div>



</section>



{% endblock content %}


